name: 42Crunch <> GHAS

# on: pull_request

# follow standard Code Scanning triggers
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  api_audit_job:
    runs-on: ubuntu-latest
    name: Audit OpenAPI files
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: 42Crunch REST API Static Security Testing
        uses: 42Crunch/api-security-audit-action@v3
        with:
          # Please create free account at https://platform.42crunch.com/register
          # Follow these steps to configure API_TOKEN https://docs.42crunch.com/latest/content/tasks/integrate_github_actions.htm
          api-token: ${{ secrets.API_TOKEN }}
          min-score: 85
          platform-url: https://demolabs.42crunch.cloud
          upload-to-code-scanning: true
          sarif-report: 'audit-report-sarif.json'

      - name: Test output
        run: cat ${{ github.workspace }}/audit-report-sarif.json
